{% extends 'polls/layout.html' %}

{% block content %}<!-- default content text (typically empty) -->
<div style="margin-top:200px;" align="center">
            {% if latest_question_list %}
              <ul style="max-width:400px;margin:0 auto;">
                {% for question in latest_question_list %}
                <h2><li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li></h2>
                </br>
                  {% endfor %}
              </ul>
              {% else %}
                <p>No polls are available.</p>
              {% endif %}
            </div>
{% endblock %}
