<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>POLLING SITE</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:LightGray  " >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/admin/">Staff User</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="/polls/">Question</a>
    </li>
    {% else %}
    <li class="nav-item ">
      <a class="nav-link disabled" href="/polls/">Question</a>
    </li>
    {% endif %}
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/polls/Register/">Register</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item active">
      <a class="nav-link" href="/polls/logout/">Logout</a>
    </li>
    {% else %}
    <li class="nav-item active">
      <a class="nav-link" href="/polls/login/">Login</a>
    </li>
    {% endif %}
  </ul>
</nav>

      {% block content %}
        <div style="background:lightslategray !important" class="jumbotron jumbotron-fluid" >
              <div class="text-center">
                  <h1 class='display-2' >POLLING</h1>
              </div>

            </div>

        <div class="text-center">
        <div class="text-info">
          <h1 class='display-5' >This is polling app where you can Vote to various question's choice and get results of each questions!!</h1>


        </div>
        {% endblock %}

    </div>


</body>
</html>
